@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, helvetica;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(7, 106, 119);
    display: flex;
    background-image: url('/img/glowing-lines-human-heart-3d-shape-dark-background-generative-ai.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    height: 100vh;
    margin-left: 250px;
    padding-top: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar{
    height: 100vh;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(5px);
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: absolute;
    transition: all .4s ease;
    z-index: 2;
}

#sidebar-content{
    width: 100%;

    ul{
        list-style: none;
    }
}

#user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;

    #user-info{
        color: #ebe7e7;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        height: 100%;
        gap: 10px;
        opacity: 1;
        transition: all .3s .4s;
    }

    #user-info span:first-child{
        line-height: 20px;
    }

    #user-info span:last-child{
        font-size: 13px;
    }
}

#user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item{
    width: 100%;
    height: 50px;
    display: flex;

    a{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        padding: 0 30px;
        gap: 10px;

        i{
            font-size: 22px;
            transition: all .2s;
        }

        span{
            opacity: 1;
            font-size: 18px;
            transition: all .2s .4s;
        }
    }

    a:hover{
        background-color: rgba(122, 119, 119, 0.527);
    }
}

#open-btn{
    position: absolute;
    cursor: pointer;
    top: 80px;
    left: 190px;
    font-size: 30px;
    color: #fff;
    transition: all .4s ease;
}

#logout{
    border-top: 4px solid rgba(177, 116, 4, 0.664);
    border-radius: 7px 7px 0 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 80px;
        height: 40px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 13px;
        transition: all .3s ease;
        font-size: 20px;
        position: relative;
        transition: all .2s;

        i{
            opacity: 0;
            position: absolute;
            transition: all .2s;
        }

        span{
            opacity: 1;
            transition: all .4s .3s;
            position: absolute;
        }
    }

    button:hover{
        transform: translateY(-8%);
    }
}

#sidebar.close{
    width: 110px;
}

#sidebar.close #user #user-info{
    opacity: 0;
    transition: all .2s;
}

#sidebar.close #menu .menu-item{
    a{
        span{
            opacity: 0;
            transition: all .2s;
        }

        i{
            margin-left: 10px;
            font-size: 30px;
            transition: all .2s .2s;
        }
    }

}

#sidebar.close #open-btn{
    transform: translateX(-90px);
}


#sidebar.close #logout button{
    width: 50px;
    height: 40px;
    transition: all .2s;
    span{
        opacity: 0;
        overflow: hidden;
        text-transform: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        
        transition: all .2s;
    }

    i{
        opacity: 1;
        transition: all .4s .3s;
    }
}

.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin:  0 75px 55px;
}

.card-list .card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 35px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 2px solid #fff;
}

.card-list .card-item img{
    width: 150px ;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #fff;
    margin-bottom: 40px;
}

.card-list .card-item .user-profession{
    font-size: 1.15rem;
    font-weight: 500;
    color: #e3e3e3;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button{
    font-size: 1.25rem;
    padding: 10px 35px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.card-list .card-item .message-button:hover{
    background-color: transparent;
    color: #e3e3e3;
    border: 1px solid #fff;
    transform: translateY(-3px);
}

.slider-wrapper .swiper-pagination-bullet{
    background: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button{
    color: #fff;
    margin-top: -50px;
}

.slider-wrapper .swiper-slide-button:hover{
    color: #4658ff;
}

@media (max-width: 900px){
    main{
        margin: auto;
        padding-top: 20px;
        overflow: hidden;
        width: 300px;
    }

    #sidebar{
        height: 100%;
        position: fixed;
    }

    #sidebar.close{
        transform: translateX(-110px);
    }

    #open-btn{
        left: 199px;
    }
    .slider-wrapper{
        margin: 0 10px 40px;
        width: 250px;
        height: 500px;
    }

    .slider-wrapper .card-list .card-item{
        width: 100px;
        height: 350px;
    }

    .card-list .card-item .user-name{
        font-size: 1.2rem;
    }

    .card-list .card-item .user-profession{
        font-size: .8rem;
        margin-bottom: 20px;
    }

    .card-list .card-item .message-button{
        font-size: 1rem;
        padding: 10px 20px;
    }

    .slider-wrapper .swiper-pagination{
        margin-bottom: 100px;
    }

    .slider-wrapper .swiper-slide-button{
        display: none;
    }
}
